include ../label-input/label-input

mixin dropdown(args)
    if !args
        - args = {}
    - const labelText = args.labelText || "dropdown"
    - const mod = args.mod ? `dropdown_${args.mod}` : ""
    - const type = args.type ? `dropdown_${args.type}` : ""
    - const defValue = args.placeholder
    - const modIco = args.modIco ? `dropdown__ico_${args.modIco}` : ""
    - const dataType = args.type ? "dropdown-select" : null

    div(
        class = `dropdown ${type} ${mod}`
        data-type = dataType
        data-variant = args.type
        )
        +label-input({text: labelText})
            input(
                type="text"
                class="dropdown__input"
                placeholder=defValue
                readonly
            )
            div(class=`dropdown__ico ${modIco}` data-action="expand")
                include ./img/expand_more.svg
        block


            //TODO переделать счетчик
                привести к пиксель в пиксель

            //TODO заменить компонент dropdown в формах и страницах на правельный
