mixin icon-text(args)
    -   const mod=args.mod?' icon-text_' + args.mod : ""
    div(class="icon-text" + mod)
        .icon-text__ico
            if args.type==="ico"
                span(class="material-icons" style="font-size: 48px" )=args.ico
            if args.type==="img"
                img(src=args.ico alt="user")
        .icon-text__descroption
            .icon-text__title=args.title
            .icon-text__subtitle=args.subtitle
