include ../label/label

mixin radio-buttons(args)
    .radio-buttons
        if args.showLabel
            +label({text: "radio buttons"})
        .radio-buttons__item-wrap
            .radio-buttons__item
                label(class="radio-buttons__item-label")
                    input(
                        type="radio"
                        name="gender"
                        value="male"
                        checked
                        class="radio-buttons__input"
                    )
                    span(class="radio-buttons__flag")="Мужчина"
            .radio-buttons__item
                label(class="radio-buttons__item-label")
                    input(
                        type="radio"
                        name="gender"
                        value="female"
                        class="radio-buttons__input"
                    )
                    span(class="radio-buttons__flag")="Женщина"
