//- role= {btn, link}
//- size= {big, small}
//- type = {type-1,type-2,type-3}
//
mixin button(args)
    if !args
        - args = {}

    - const role = args.role ? args.role : "btn"
    - const size = args.size?args.size:"small"
    - const type = args.type?args.type: false
    - const action = args.action ? args.action : null
    - const link = args.link ? args.link : "#"

    if (role === "btn")
        if (size === "big")
            button(class="button button_btn button_big" data-action-button = action)
                span=args.text
                include ./img/arrow_forward.svg
        if (size === "small")
            button(class=`button button_btn button_small button_${type}` data-action-button = action)
                span=args.text
    if (role === "link")
        a(class=`button button_link-${size}` href=link)
            span=args.text
