mixin menu(args)
    -
        const items=args.items
        const indexActive=args.indexActive?args.indexActive:false

    ul(class=args.classMenu)=args.menuHeader
        each item, index in items
            if (index===indexActive)
                li(class=args.classItem + " active")
                    a(class=args.classLink href=item.href)=item.text
            else
                li(class=args.classItem)
                    a(class=args.classLink href=item.href)=item.text
