include ../label/label

mixin range-slider(args)
    .range-slider
        .range-slider__info
            +label({text: args.text})
            .range-slider__wrap-input
                input(
                    type="number"
                    class="range-slider__input"
                    name=args.id+"--min"
                    id=args.id+"--min"
                )
                input(
                    type="number"
                    class="range-slider__input"
                    name=args.id+"--max"
                    id=args.id+"--max"
                )
                div(
                    class="range-slider__input-value"
                    data-range-slider-value="min"
                ) 5000
                span(class="range-slider__input-separator")="-"
                div(
                    class="range-slider__input-value"
                    data-range-slider-value="max"
                ) 10000
        .range-slider__scale(id=args.id)
