.toggle
    label(class="toggle__label")="toggle"
    .toggle__warp
        input(
            class="toggle__input"
            type="checkbox"
            id="toggle"
        )
        label(
            class="toggle__input-label"
            for="toggle"
        )
        span(class="toggle__input-label-text") Получать спецпредложения

