mixin toggle(args)
    - const className = args.classes ? args.classes.join(" ") : "toggle"
    - const id = args.id ? args.id: "toggle"

    div(class=className)
        div(class=className+"__warp")
            input(
                class=className+"__input"
                type="checkbox"
                checked=args.checked
                id=id
            )
            label(
                class=className+"__input-label"
                for=args.id
            )
            span(class=className+"__input-label-text")=args.text

